extends layout

block content
  .inner
    form.form(action=`/addDocuments` method="POST" enctype="multipart/form-data")
      h2= title
      .group     
        input(type="text" name="name" placeholder="Document Name" required)
        label(for="name")
          i.fas.fa-file-alt
      .group
        input(type="file" name="document" id="document" placeholder="Document file" accept="application/pdf,application/vnd.ms-excel" required)
        label(for="document") 
          i.fas.fa-file-pdf
      - const programs = ["Civilekonom", "Industriellekonomi", "Maskiningengör"]
      - const courses = ["Nationalekonomi 1", "Marknadsföring", "Ledarskap 1"]
      .group
        select(name="school")
          option(value="" disabled selected) Select your option
          each school in schools
            option(value=school._id) #{school.name}
      .group
        select(name="program")
          option(value="" disabled selected) Select your option
          each program in programs
            option(value=program) #{program}
      .group
        select(name="course")
          option(value="" disabled selected) Select your option
          each course in courses
            option(value=course) #{course}
      input.button(type="submit" value="Upload and save")