extends layout

block content
  .inner
    if ownerStatus
      h2= document.name
      .pdf
        object(data=`/uploads/documents/${document.document}` type="application/pdf")
    else 
      .document-card
        .document-card-text
          h2= document.name
          span Price: 1 Token
        .document-card-buttons
          a.button-link(href="/") Go Back
          form.form(action=`/document/${document.slug}` method="POST")
            input(type="hidden" name="document" value=`${document._id}`)
            input.button(type="submit" value="Get document")
      