doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,500,700")
    link(rel='stylesheet', href='/dist/style.css')
    link(rel="shortcut icon" type="image/png" href="/images/icons/paper.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116213276-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-116213276-1');
    </script>
  body
    block header
      header.top
        .nav-top-line
        nav.nav
          .nav-left
            each item in h.menu
              li.nav__item
                a.nav__link(href=item.slug)
                  span #{item.title}
          .nav-center 
            a.nav-logo(href="/")
              != h.icon('groupwork-logo')
          .nav-right
            if user
              a.signUp(href="/addDocuments") Upload
              a.logIn(href="/logout") Logout
            else  
              a.logIn(href="/login") Login
              a.signUp(href="/register") Sign Up
          .hamburger#hamburger
            span
              i.fas.fa-bars         
        .nav-mobile#popup
          .nav-mobile-close#popupClose
            i.fas.fa-times-circle
          .nav-mobile-links
            each item in h.menu
              li.nav__item
                a.nav__link(href=item.slug)
                  span #{item.title}
          .nav-mobile-buttons
            if user
              a(href="/addDocuments") Upload
                i.fas.fa-caret-right
              a(href="/logout") Logout
                i.fas.fa-caret-right
            else  
              a(href="/login") Login
                i.fas.fa-caret-right
              a(href="/register") Sign Up 
                i.fas.fa-caret-right


    block messages
      if locals.flashes
        .inner
          .flash-messages
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`flash--${category}`)
                  p.flash__text!= message
                  button.flash__remove(onClick="this.parentElement.remove()") &times;
    .content
      block content

    block scripts
      script(src="/dist/App.bundle.js")
