doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,500,700")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.6/css/all.css")
    link(rel='stylesheet', href='/dist/style.css')
    link(rel="shortcut icon" type="image/png" href="/images/icons/doughnut.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block header
      header.top
        nav.nav
          .nav-left
            each item in h.menu
              li.nav__item
                a.nav__link(href=item.slug)
                  span #{item.title}
          .nav-center 
            a.nav-logo(href="/")
              != h.icon('groupwork-logo')
          .nav-right
            if user
              a.signUp(href="/addDocuments") Add
              a.logIn(href="/logout") Logout
            else  
              a.logIn(href="/login") Login
              a.signUp(href="/register") Sign Up

    block messages
      if locals.flashes
        .inner
          .flash-messages
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`flash--${category}`)
                  p.flash__text!= message
                  button.flash__remove(onClick="this.parentElement.remove()") &times;
    .content
      block content

    block scripts
      script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.MAP_KEY}&libraries=places`)
      script(src="/dist/App.bundle.js")
